body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Lato', sans-serif;
}

div {
	box-sizing: border-box;
}

h1, h2, h3, h4, p, ul {
	margin: 0;
	padding: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

header {
	width: 100%;
	height: 90px;
	background-color: #fff;
	box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.15);
	position: relative;
	z-index: 10;
}

nav {
	padding-top: 27px;
	overflow: hidden;
}

nav img {
	cursor: pointer;
}

.menu {
	margin-top: 7px;
	float: right;
}

nav li {
	margin-right: 42px;
	display: inline-block;
}

nav li:last-child {
	margin-right: 15px;
}

nav li:last-child i {
	position: relative;
	z-index: 10;
}

nav a,
nav i {
	font-size: 14px;
	color: #777777;
	cursor: pointer;
}

@keyframes openLinkLine {
	0% {
		width: 0px;
	}

	100% {
		width: 20px;
	}
}

.menu-linkLine {
	width: 0px;
	height: 1px;
	margin-top: 12px;
	margin-left: -37px;
	background-color: #000;
	position: absolute;
}

.activePage-linkLine {
	width: 20px;
	height: 1px;
	margin-top: 12px;
	margin-left: -37px;
	background-color: #000;
	position: absolute;
}

nav li:hover > .menu-linkLine {
	animation: openLinkLine 0.4s alternate both;
}

nav a:hover,
nav i:hover {
	color: #000;
}

.activePage {
	color: #000;
}

nav a {
	font-family: Roboto;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	text-decoration: none;
}

.search-field {
	width: 584px;
	height: 23px;
	top: -35px;
	right: -1140px;
	padding-left: 10px;
	background-color: #fff;
	border: #777777 solid 2px;
	border-radius: 0 50px 50px 0;
	position: relative;
	z-index: 1;
	font-family: Roboto;
	font-size: 15px;
	transition: 0.2s;
}

.centering-text {
	width: 702px;
	margin: 0 auto;
}

.slider-text_wrapper {
	margin-top: 16.45%;
}

.about_heading-text_wrapper,
.portfolio_heading-text_wrapper,
.blog_heading-text_wrapper,
.contact_heading-text_wrapper {
	margin-top: 7.2%;
}

.slider-text_wrapper,
.about_heading-text_wrapper,
.portfolio_heading-text_wrapper,
.blog_heading-text_wrapper,
.contact_heading-text_wrapper {
	font-family: Roboto;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
}

.slider-text_wrapper h2,
.about_heading-text_wrapper h2,
.portfolio_heading-text_wrapper h2,
.blog_heading-text_wrapper h2,
.contact_heading-text_wrapper h2 {
	height: 56px;
	font-size: 48px;
	font-weight: 300;
	color: #fff;
	letter-spacing: 0.1em;
	background-color: #000;
}

.slider-text_wrapper h2 {
	width: 700px;
}

.about_heading-text_wrapper h2 {
	width: 590px;
}

.portfolio_heading-text_wrapper h2 {
	width: 538px;
}

.blog_heading-text_wrapper h2 {
	width: 548px;
}

.contact_heading-text_wrapper h2 {
	width: 439px;
}

.slider-text_wrapper p,
.about_heading-text_wrapper p,
.portfolio_heading-text_wrapper p,
.blog_heading-text_wrapper p,
.contact_heading-text_wrapper p {
	font-size: 18px;
	font-weight: 300;
	color: #000;
	letter-spacing: 0.4em;
}

.slider-text_wrapper p {
	margin-top: 34px;
}

.about_heading-text_wrapper p,
.portfolio_heading-text_wrapper p,
.blog_heading-text_wrapper p,
.contact_heading-text_wrapper p {
	margin-top: 40px;
	text-align: left;
}

.sliderBtns {
	width: 43px;
	height: 43px;
	top: 398px;
	font-size: 29px;
	font-weight: 100;
	text-align: center;
	border: #fefefe solid 1px;
	border-radius: 50%;
	color: #fefefe;
	background: none;
	cursor: pointer;
	z-index: 10;
	position: absolute;
}

.sliderBtns i {
	margin-top: 7px;
}

.customPrevBtn {
	left: 112px;
}

.customNextBtn {
	right: 112px;
}

.customPrevBtn:hover,
.customNextBtn:hover {
	border: transparent solid 1px;
	background-color: #000;
}

#mainSlider .owl-dots {
	left: 47.6%;
	bottom: 7.5%;
	position: absolute;
	z-index: 10;
}

#mainSlider .owl-dot span {
	width: 15px;
	height: 15px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	background-color: #fff;
}

#mainSlider .owl-dot:nth-child(2) {
	margin: 0 14px;
}

#mainSlider .owl-dots .owl-dot.active span {
	width: 5px;
	height: 5px;
	border: #000 solid 5px;
	background-color: #fff;
}

.section-title {
	width: 600px;
	margin: 0 auto;
	padding-top: 81px;
	font-family: Roboto;
	text-align: center;
}

.related-works_title {
	width: 595px;
	margin-top: 142px;
}

.section-title h2 {
	font-size: 29px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color: #000000;
}

.section-title p {
	margin-top: 32px;
	margin-bottom: 61px;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.025em;
	color: #777777;
}

.related-works_title p {
	margin-bottom: 48px;
}

.about_heading,
.portfolio_heading,
.portfolio-details_heading,
.blog_heading,
.contact_heading {
	height: 350px;
	overflow: hidden;
}

.about_heading,
.contact_heading {
	background-color: #f0f0f2;
}

.portfolio_heading,
.portfolio-details_heading {
	background-color: #e2e2e2;
}

.blog_heading {
	background-color: #f6f6f8;
}

.about_heading img,
.portfolio_heading img,
.portfolio-details_heading img,
.blog_heading img,
.contact_heading img {
	float: right;
	position: relative;
}

.about_heading img {
	height: 161%;
	top: -23%;
}

.portfolio_heading img {
	height: 109%;
	top: -5%;
	left: -2%;
}

.portfolio-details_heading img {
	height: 109%;
	top: -6%;
	left: -7.5%;
}

.blog_heading img {
	height: 166%;
	top: -20%;
	left: -17.4%;
}

.contact_heading img {
	top: -76px;
	left: -6px;
}

.portfolioMain,
.portfolio-wrapper,
.single-post_wrapper {
	padding-top: 35px;
	background-color: #fafafa;
}

.portfolioMain {
	height: auto;
	padding-bottom: 128px;
}

.about_team,
.blog-body {
	height: 1680px;
	background-color: #fafafa;
}

.contact-body {
	padding-top: 86px;
	padding-bottom: 79px;
	background-color: #fafafa;
}

.portfolio-wrapper {
	height: 1643px;
}

.single-post_wrapper {
	padding-top: 67px
}

.tab-nav {
	padding-top: 34px;
}

.tab-nav ul {
	height: 61px;
	border-top: #e1e1e1 solid 1px;
	border-bottom: #e1e1e1 solid 1px;
	text-align: center;
}

.tab-nav li {
	margin-top: 24px;
	font-size: 14px;
	font-family: Roboto;
	font-weight: 700;
	color: #777777;
	display: inline-block;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	cursor: pointer;
}

.tab-nav li:hover {
	color: #000;
}

.tab-nav li.activeTab {
	color: #000;
}

.tab-nav span {
	margin: 0 12px;
	top: 5px;
	font-size: 35px;
	font-weight: 100;
	color: #e1e1e1;
	content: "/";
	position: relative;
}

.portfolio-details {
	background-color: #fafafa;
}

.portfolio-details_navigation {
	height: 50px;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.975px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	background-color: #fff;
}

.prev-details,
.next-details {
	width: 162px;
	float: left;
}

.show-all_portfolio {
	width: 192px;
	float: right;
}

.next-details i {
	padding-left: 9px;
}

.prev-details i,
.show-all_portfolio i {
	padding-right: 5px;
}

.details-nav_btn {
	padding: 13px 0;
	color: #071f07;
	text-decoration: none;
	border-left: #ebebeb solid 1px;
	border-right: #ebebeb solid 1px;
	display: inline-block;
}

.next-details {
	border-left: 0;
}

.our-story_wrapper {
	padding-top: 72px;
}

.our-story_img_wrapper,
.our-story_text_wrapper {
	vertical-align: top;
	display: inline-block;
}

.our-story_img_wrapper img {
	width: 100%;
}

.our-story_text_wrapper {
	width: 539px;
	margin-top: 4px;
	margin-left: 47px;
	font-family: Roboto;
}

.our-story_text_wrapper h3 {
	margin-bottom: 30px;
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.4em;
}

.our-story_text_wrapper p {
	color:#777777;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.025em;
}

.our-story_text_wrapper p br {
	margin-bottom: 30px;
}

.skill-bars_wrapper {
	margin-top: 31px;
}

.skill-bars_wrapper h3 {
	margin-bottom: 39px;
}

.skill-bars_wrapper .skill-name {
	margin-bottom: 45px;
	color:#2f302f;
	font-size: 16px;
	font-weight: 700;
	line-height: 10px;
}

.skill-bar {
	width: 552px;
	height: 10px;
	top: -25px;
	position: relative;
	background-color:#ebebeb;
}

.skill-line {
	width: 0;
	height: 2px;
	top: -9px;
	left: 3px;
	background-color: #a1a1a1;
	display: inline-block;
	position: relative;
}

.skill-bar_dot {
	width: 12px;
	height: 12px;
	top: -4.5px;
	left: -8px;
	margin-right: -13px;
	background-color: #fff;
	border-radius: 50%;
	border: #000 solid 4px;
	display: inline-block;
	position: relative;
}

.skill-percent {
	width: 40px;
	height: 21px;
	top: -37px;
	padding-top: 3px;
	font-family: Lato;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	background-color: #041608;
	display: inline-block;
	position: absolute;
}

.skill-percent_triangle {
	width: 8px;
	height: 14px;
	border-top: 10px solid #041608;
	border-right: 12px solid transparent;
}

.portfolio-image_wrapper {
	height: 1350.63px;
	margin-top: 29px;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.blogs_wrapper {
	padding-top: 71px;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.image-column,
.blog-column {
	flex: 25%;
	max-width: 33.4%;
}

.image-column:nth-child(1),
.blog-column:nth-child(1) {
	padding-right: 23px;
}

.image-column:nth-child(2),
.blog-column:nth-child(2) {
	padding: 0 9px;
}

.image-column:nth-child(3),
.blog-column:nth-child(3) {
	padding-left: 23px;
}

.portfolio_image-item,
.blog-post {
	width: 100%;
	margin-bottom: 32px;
	vertical-align: middle;
	position: relative;
}

.blog-post {
	height: 410px;
	background-color: #fff;
}

.blog-post_info-wrapper {
	width: 100%;
	height: 100%;
	padding: 39px 34px 0px 45px;
}

.blog-post_text-image-post {
	height: 550px;
}

.blog-post_image-post {
	height: 330px;
	overflow: hidden;
}

.blog-post-video-post {
	height: 245px;
	overflow: hidden;
}

.image-column img {
	width: 100%;
}

.portfolio_img-overlay {
	width: 100%;
	height: 99%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 10;
	opacity: 0;
	transition: 0.5s;
	cursor: pointer;
	display: block;
}

.portfolio_img-overlay i {
	top: 42%;
	left: 44%;
	font-size: 40px;
	color: #ececec;
	position: absolute;
}

.portfolio_image-item:hover > .portfolio_img-overlay {
	opacity: 1;
}

.blog_category-tag {
	width: 110px;
	height: 26px;
	padding-top: 4px;
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	border-radius: 2px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #000000;
	position: relative;
	z-index: 10;
	cursor: pointer;
}

.blog-post_text-image-post .blog_category-tag {
	top: 9px;
	right: 8px;
	position: absolute;
	font-family: Lato;
	background-color: #28a200;
	opacity: 0;
	transition: 0.2s;
}

.blog-post_text-image-post_image-wrapper:hover > .blog_category-tag {
	opacity: 1;
}

.blog-post_text-image-post_image-wrapper {
	height: 250px;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}

.blog-post img {
	width: 100%;
}

.blog-post_image-post img {
	position: absolute;
}

.blog-post_text-image-post .blog-post_text-wrapper {
	margin-top: 234px;
}

.blog-post_image-post_overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	opacity: 0;
	transition: 0.3s;
	position: relative;
}

.blog-post_image-post:hover > .blog-post_image-post_overlay {
	opacity: 1;
}

.blog-post_new-post .blog-post_text-wrapper h4 {
	font-weight: 700;
}

.blog-post_text-wrapper h4 {
	margin-top: 22px;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	color: #333333;
	cursor: pointer;
}

.blog-post_text-wrapper a {
	color: #333333;
	text-decoration: none;
}

.blog-post_image-post h4 {
	color: #ffffff;
}

.blog-post_image-post a {
	color: #ffffff;
}

.blog-author {
	margin-top: 2px;
	font-size: 13px;
	font-weight: 400;
	line-height: 30px;
	color: #cccccc;
}

.blog-author i {
	margin-right: 3px;
}

.blog-post_footer {
	bottom: -36px;
	position: relative;
}

.blog-post_text-image-post .blog-post_footer {
	bottom: -33px;
}

.blog-post_image-post .blog-post_footer {
	bottom: -30px;
}

.blog-post_text {
	margin-top: 21px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #777777;
}

.blog-post_image-post .blog-post_text {
	color: #d6d6d6;
}

.blog-post_date {
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #9a9a9a;
	float: left;
}

.blog-post_date i {
	margin-right: 3px;
}

.blog-post_footer_btns-wrapper {
	margin-top: 1px;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #cccccc;
	float: right;
}

.blog-post_footer_btns-wrapper i {
	cursor: pointer;
}

.blog-post_footer_btns-wrapper i:hover {
	color: #9e9e9e;
}

.blog-post_footer_btns-wrapper i:first-child {
	margin-right: 23px;
}

.blog-post-video-post_play-btn {
	width: 60px;
	height: 60px;
	top: 94px;
	left: 149px;
	text-align: center;
	border-radius: 50%;
	background-color: rgba(26, 26, 26, 0.5);
	position: absolute;
	z-index: 10;
	cursor: pointer;
	transition: transform 0.2s;
}

.blog-post-video-post_play-btn i {
	margin-top: 22px;
	color: #e7e7e7;
}

.blog-post-video-post_play-btn:hover {
	transform: scale(1.20);
}

.button_wrapper {
	width: 100%;
	margin-top: 4px;
	text-align: center;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.blogs-button_wrapper {
	width: 740px;
	margin-top: 37px;
}

.blogs_search-bar {
	width: 363px;
	height: 60px;
	padding-left: 22px;
	background-color: #fff;
	color: #b7b7b7;
	font-size: 15.5px;
	font-style: italic;
	line-height: 20px;
	border: none;
}

.blogs_search-widget {
	margin-bottom: -9px;
}

.blogs_search-widget button {
	width: 35px;
	height: 34px;
	top: -50px;
	right: -312px;
	border-radius: 2px;
	border: none;
	background-color: #999999;
	position: relative;
	cursor: pointer;
}

.blogs_search-widget button:hover {
	background-color: #808080;
}

.blogs_search-widget button i {
	font-size: 15.93px;
	text-align: center;
	color: #ffffff;
}

.blogs_widget-title {
	width: 361px;
	height: 40px;
	padding-top: 10px;
	background-color: #ebebeb;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	position: relative;
	z-index: 10;
}

.blogs_widget-title:hover {
	background-color: #dbdbdb;
}

.blogs_widget-title:hover .blogs_widget-title_triangle {
	border-top: 10px solid #dbdbdb;
}

.blogs_widget-title_triangle {
	width: 15px;
	height: 8px;
	left: 164px;
	bottom: -3px;
	border-top: 10px solid #ebebeb;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: relative;
}

.recent-posts_widget,
.popular-tags_blog-widget,
.instagram-posts_blog-widget {
	overflow: hidden;
}

.recent-posts_wrapper {
	width: 361px;
	height: 390px;
	padding-top: 26px;
	padding-left: 21px;
	background-color: #ffffff;
	display: block;
}

.recent-post {
	margin-bottom: 19px;
	cursor: pointer;
}

.recent-post_text-wrapper {
	width: 201px;
	margin-left: 13px;
	vertical-align: top;
	display: inline-block;
}

.recent-post_title {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #3d3d3d;
}

.recent-post_date-post {
	margin-top: 9px;
	font-size: 13px;
	font-weight: 300;
	line-height: 18px;
	color: #777777;
}

.popular-tags_blog-widget {
	margin-top: 25px;
}

.popular-tags_wrapper {
	height: 176px;
	padding-top: 35px;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	background-color: #ffffff;
	color: #9c9c9c;
	display: block;
}

.popular-tags_wrapper-tag {
	margin-right: 2px;
	margin-bottom: 10px;
	padding: 2px 16.1px;
	border: #eeeeee solid 1px;
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.popular-tags_wrapper-tag:hover {
	color: #ffffff;
	background-color: #000000;
}

.instagram-posts_blog-widget {
	margin-top: 40px;
}

.instagram-thumb-post_wrapper {
	height: 310px;
	padding-top: 36px;
	padding-left: 24px;
	background-color: #ffffff;
	display: block;
}

.insta-thumb_post {
	margin-right: 2px;
	margin-bottom: 1px;
	display: inline-block;
	cursor: pointer;
}

.portfolio_load-more_btn,
.blogs_load-more_btn {
	padding: 7.5px 23.7px;
	border-radius: 2px;
	font-size: 13px;
	font-weight: 700;
	font-family: Roboto;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #959595;
}

div .portfolio_load-more_btn,
div .blogs_load-more_btn {
	width: 125px;
	margin: 0 auto;
	padding: 7.5px 22.7px;
	cursor: pointer;
}

.portfolio_load-more_btn:hover,
.blogs_load-more_btn:hover {
	background-color: #818181;
}

.our-team_card {
	width: 358px;
	margin-right: 29px;
	background-color: #ffffff;
	display: inline-block;
}

.our-team_card:last-child {
	margin-right: 0;
}

.our-team_card-text {
	margin: 26px 28px 0px 35px;
	padding-bottom: 24px;
	font-family: Roboto;
}

.our-team_card h4 {
	margin-bottom: 6px;
	font-size: 24px;
	font-weight: 300;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	color: #041608;
}

.our-team_card span {
	font-size: 16px;
	font-weight: 700;
	line-height: 10px;
	letter-spacing: 0.04em;
	color: #777777;
}

.our-team_card p {
	margin-top: 13px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #9c9c9c;
}

.details_wrapper {
	margin-top: 71px;
}

.details-info_wrapper,
#gallery-wrapper {
	width: 549px;
	vertical-align: top;
	display: inline-block;
}

.dw-2 .details-info_wrapper {
	width: 590px;
	margin-top: 11px;
}

.dw-2 #gallery-wrapper {
	width: 510px;
}

.details-info_heading h3 {
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.details-info_heading p {
	margin-top: 2px;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	color: #555555;
	letter-spacing: 0.025em;
}

.details_date-publication,
.details_likes {
	width: 180px;
	margin-top: 13px;
	font-size: 14px;
	font-weight: 700;
	line-height: 48px;
	color: #555555;
	display: inline-block;
}

.details_likes i {
	padding-right: 3px;
}

.details_main-info_wrapper {
	margin-top: 20px;
	padding-bottom: 52px;
	letter-spacing: 0.025em;
	border-top: #cccccc solid 1px;
	border-bottom: #cccccc solid 1px;
}

.details_main-text {
	margin-top: 14px;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	color: #777777;
}

.role-tags_wrapper {
	margin-top: 31px;
	letter-spacing: 0.025em;
}

.role-tags_wrapper h4 {
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
	color: #333333;
	text-transform: uppercase;
}

.role-tags_wrapper p {
	color: #999999;
	margin-top: 10px;
	margin-bottom: 44px;
}

.share-post_wrapper {
	margin-top: 51px;
}

.share-btn {
	width: 87px;
	height: 42px;
	padding: 13px 10px;
	font-size: 13px;
	font-weight: 700;
	color: #ffffff;
	background-color: #707070;
	text-transform: uppercase;
	cursor: pointer;
}

.share-btn > i {
	font-size: 10px;
	margin-right: 6px;
}

.share-btn_active {
	background-color: #444;
}

.share-btn:hover {
	background-color: #444;
}

#share-post_socials-list {
	height: 0;
	top: -42px;
	left: 98px;
	font-weight: 300;
	color: #777777;
	position: relative;
	display: none;
}

.share-post_socials-list_triangle {
	width: 8px;
	height: 14px;
	top: 15px;
	left: -8px;
	border-top: 7px solid transparent;
	border-right: 8px solid #e1e1e1;
	border-bottom: 7px solid transparent;
	position: absolute;
}

#share-post_socials-list ul {
	top: -14px;
}

#share-post_socials-list li {
	margin-right: -4px;
	background-color: #e1e1e1;
	display: inline-block;
}

#share-post_socials-list i {
	width: 40.5px;
	height: 28px;
	padding-top: 14px;
	font-size: 13px;
	text-align: center;
	cursor: pointer;
}

#share-post_socials-list li:hover {
	background-color: #cbcbcb;
}

#share-post_socials-list li:hover .share-post_socials-list_triangle {
	border-right: 8px solid #cbcbcb;
}

#gallery-wrapper {
	margin-top: 8px;
}

.gallery-wrapper_right-side {
	margin-left: 36px;
}

.gallery-wrapper_left-side {
	margin-right: 36px;
}

#gallery-wrapper .fotorama__stage {
	margin-bottom: 3px;
}

#gallery-wrapper .fotorama__thumb-border {
	height: 115px;
	width: 132px !important;
	border: none;
	background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45));
}

.dw-2 #gallery-wrapper .fotorama__thumb-border {
	width: 116px !important;
}

#gallery-wrapper .fotorama__nav::before,
#gallery-wrapper .fotorama__stage::before,
#gallery-wrapper .fotorama__nav::after,
#gallery-wrapper .fotorama__stage::after {
	display: none;
}

.related-works_items {
	padding-bottom: 60px;
}

.related-works_items a {
	margin-right: 34px;
	display: inline-block;
	cursor: pointer;
}

.related-works_items a:last-child {
	margin-right: 0;
}

.single-post_container {
	width: 945px;
	margin: 0 auto;
}

.single-post_title-wrapper h2 {
	margin-bottom: 8px;
	font-size: 30px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	color: #333333;
}

.single-post_info {
	width: 436px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.025em;
	color: #777777;
}

.single-post_info p {
	margin-right: 59px;
	display: inline-block;
}

.single-post_info p:last-child {
	margin-right: 0;
}

.single-post_likes i {
	margin-right: 9px;
}

.single-post_image-wrapper,
.single-post_video-wrapper {
	margin-top: 15px;
}

.single-post_image-wrapper img,
.single-post_video-wrapper iframe {
	width: 100%;
}

.single-post_video-wrapper iframe {
	height: 532px;
}


.single-post_text-wrapper {
	margin-top: 37px;
	padding-left: 67px;
	padding-right: 63px;
}

.single-post_text-wrapper h3 {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #333333;
}

.single-post_text-wrapper p {
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	color: #777777;
	letter-spacing: 0.025em;
}

.single-post_text-wrapper p br {
	margin-bottom: 30px;
}

.blog-post_quote {
	width: 942px;
	left: -68px;
	margin-top: 23px;
	margin-bottom: 29px;
	padding: 14px 29px 24px 39px;
	font-family: PTSerif;
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	line-height: 30px;
	letter-spacing: 0.043em;
	color: #777777;
	border-top: #e1e1e1 solid 1px;
	border-right: #e1e1e1 solid 1px;
	border-bottom: #e1e1e1 solid 1px;
	border-left: rgba(0, 0, 0, 0.2) solid 4px;
	position: relative;
}

.single-post_form-wrapper {
	width: 808px;
	margin: 0 auto;
	margin-top: 56px;
}

.single-post_form-title {
	margin-bottom: 27px;
	font-size: 20px;
	font-weight: 300;
	line-height: 60px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.single-post_form-wrapper form {
	text-align: center;
}

.single-post_form-wrapper input,
.single-post_form-wrapper textarea,
.contact-form_wrapper input,
.contact-form_wrapper textarea {
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	border: #e1e1e1 solid 1px;
	border-radius: 2px;
	color: #c4c4c4;
	background-color: #fafafa;
}

.single-post_form-wrapper input,
.contact-form_wrapper input {
	width: 236px;
	height: 34px;
	margin-right: 25px;
	padding-left: 10px;
}

.contact-form_wrapper input {
	width: 343px;
	margin-right: 30px;
}

.single-post_form-wrapper input[placeholder="Name"],
.contact-form_wrapper input[placeholder="Name"] {
	border-left: rgba(149, 149, 149, 0.3) solid 3px;
}

.single-post_form-wrapper input[placeholder="Website"],
.contact-form_wrapper input[placeholder="Email"] {
	margin-right: 0;
}

.single-post_form-wrapper textarea,
.contact-form_wrapper textarea {
	width: 785px;;
	height: 101px;
	margin-top: 22px;
	margin-bottom: 24px;
	padding-top: 9px;
	padding-right: 10px;
	padding-left: 10px;
	resize: none;
	font-family: Roboto;
}

.single-post_send-message-btn,
.contact_send-message-btn {
	width: 195px;
	height: 42px;
	margin-bottom: 86px;
	border: #000000 solid 1px;
	border-radius: 2px;
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.single-post_send-message-btn:hover,
.contact_send-message-btn:hover {
	border: #000c solid 1px;
	background-color: #000c;
}

.contact-details_wrapper,
.contact-form_wrapper {
	vertical-align: top;
	display: inline-block;
}

.contact-details_heading {
	margin-bottom: 39px;
}

.contact-details_heading h2 {
	margin-bottom: 8px;
	font-size: 30px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.4em;
	color: #000000;
	text-transform: uppercase;
}

.contact-details_heading p {
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.025em;
	color: #2f302f;
}

.contact-details_heading-line {
	width: 60px;
	height: 1px;
	background-color: #000000;
}

.contact-details_footer p {
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.025em;
	color: #777777;
}

.contact-details_footer p span {
	font-weight: 700;
	color: #222222;
}

.contact-details_footer .contact-details_hours,
.contact-details_footer .contact-details_adress {
	margin-bottom: 24px;
}

.contact-details_footer .contact-details_numbers {
	color: #555555;
}

.contact-form_wrapper {
	width: 748px;
	margin-left: 66px;
}

.contact-form_wrapper textarea {
	width: 726px;
	height: 139px;
	margin-top: 30px;
	margin-bottom: 29px;
}

.contact_send-message-btn {
	width: 218px;
	height: 39px;
	margin-bottom: 0px;
}

.map-wrapper {
	width: 100%;
	height: 360px;
}

.map {
	height: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.values {
	background-color: #fafafa;
}

.values .section-title {
	padding-top: 69px;
}

.values .section-title p {
	margin-bottom: 57px;
}

.values-item {
	width: 354px;
	height: 467px;
	margin-right: 35px;
	display: inline-block;
	vertical-align: top;
}

.values-item:last-child {
	margin-right: 0px;
}

.values-item img {
	width: 100%;
	margin-bottom: 18px;
}

.values-item_text-wrapper {
	margin-left: -2px;
}

.values-item_text-wrapper h3 {
	margin-bottom: 28px;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.4em;
	text-transform: uppercase;
}

.values-item_text-wrapper p {
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	color: #777777;
	letter-spacing: 0.025em;
}

footer {
	height: 299px;
	background-color: #fff;
	box-shadow: 0px -3px 4.75px 0.25px rgba(163, 163, 163, 0.1);
	text-align: center;
}

footer img {
	margin-top: 66px;
}

.socials_wrapper {
	height: 63px;
	margin-top: 44px;
	margin-bottom: 30px;
	color: #777777;
	border-top: #ebebeb solid 1px;
	border-bottom: #ebebeb solid 1px;
}

.socials_wrapper i {
	margin-top: 20px;
	margin-right: 53px;
	font-size: 13px;
	cursor: pointer;
}

.socials_wrapper i:last-child {
	margin-right: 0;
}

.socials_wrapper i:hover {
	color: #000;
}

footer p {
	font-size: 13px;
	font-family: Roboto;
	color: #9c9c9c;
	text-transform: uppercase;
	letter-spacing: 0.025em;
}

footer p span {
	color: #000;
}